

        <div class="todos">

           <div>
         <form (submit)="addTodo($event)"role="form">

            <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="form-control" placeholder="Your Task"name="newTodo">
            <button  type="submit" class="btn btn btn-primary"[disabled]="newTodo===''">Add Todo</button>

          </form>
          </div>

          <div [hidden]="newTodo">
            Type in a new todo...
          </div>
          <div [hidden]="!newTodo">

            Typing: {{ newTodo }}
            </div>


          <ul>
          <li *ngFor="let todo of todos; let i=index">
            {{todo.text}}
              <span (click)="deleteTodo(i)" class="delete-icon"><button type="button" class="btn btn-success">x</button></span>
            </li>
            </ul>


      </div>
