

        <div class="todos">

           <div>
         <form (submit)="addTodo($event)"role="form">

            <input [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" class="form-control" placeholder="Your Task"name="newTodo">
            <button  type="submit" class="btn btn btn-primary"[disabled]="newTodo===''">Add Todo</button>

          </form>
          </div>

          <div [hidden]="newTodo">
            <h3><p class="text-success">Type in a new todo...</p></h3>
          </div>
          <div [hidden]="!newTodo">

          <h3> <p class="text-danger"> Typing: {{ newTodo }}</p></h3>
            </div>


          <ul>
          <li *ngFor="let todo of todos; let i=index">
          <p class="text-warning">  {{todo.text}}
              <span (click)="deleteTodo(i)" class="delete-icon"><button type="button" class="btn btn-success">x</button></span>
          </p>  </li>
            </ul>

            <!-- <div class="mtop20">
                <button (click)="deleteSelectedTodos()">Delete Selected
                </div> -->
      </div>
